:root {
    --main-color:#17a2b8;
    --main-color-hov:#138496;
    --sec-color:#00394F;
    --sec-color-hov:#001d29;
    --card-color:#f8f9fa;
    --p-color:#666666;
    --main-font:"Handlee", cursive;
    --main-time:0.3s;
}

/* start-global-roles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all var(--main-time);
    -webkit-transition: all var(--main-time);
    -moz-transition: all var(--main-time);
    -ms-transition: all var(--main-time);
    -o-transition: all var(--main-time);
    font-family: "Nunito", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

ul {
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    text-align: center;
}
/* end-global-roles */

/*start-components */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width:767px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: var(--main-color);
    display: block;
    width: fit-content;
}
.btn:hover {
    background-color: var(--main-color-hov);
}
.head {
    text-align: center;
    margin-bottom: 40px;
}

.head span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
}

.head span::before,
.head span::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    background-color: var(--main-color);
    top: calc(50% - 1px);
}

.head span::before{
    left: -60px;
}

.head span::after{
    right: -60px;
}

.head h1{
    font-size: 45px;
    font-family: var(--main-font) ;
    color: var(--sec-color);
}

.special-p{
    color: var(--p-color);
    line-height: 1.7;
    margin-bottom: 20px;
}

.special-ul {
    flex-grow: 1;
}

.special-ul li {
    padding: 10px 0;
    color: var(--p-color);
    border-top: 2px solid #eee;
}
.special-ul i {
    color: var(--main-color);
    margin-right: 10px;
}
.special-ul li:last-child {
    border-bottom: 2px solid #eee;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}

.grid-4 {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
        gap: 40px;
}

/*end-components */

/* start-settings */
.settings {
    width: 200px;
    height: 100vh;
    background: white;
    padding: 80px 15px;
    position: fixed;
    left: -200px;
    top: 0;
}

.open {
    left: 0px !important;
    z-index: 100;
}

.settings i {
    position: absolute;
    top: 80px;
    right: -25px;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.settings {
    box-shadow: -10px 0px 30px #505050;
}

.settings .colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.settings .color.active {
    border: 3px solid var(--sec-color);
}

.settings .color:nth-child(1){
    background-color:#17a2b8 ;
}
.settings .color:nth-child(2){
    background-color:#6740be ;
}
.settings .color:nth-child(3){
    background-color:#c9a227 ;
}
.settings .color:nth-child(4){
    background-color:#ed2590 ;
}
.settings .color:nth-child(5){
    background-color:#1c2b4b ;
}

.pic-controler{
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #eee;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pic-controler>div {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.pic-controler>div button {
    background-color: #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
}

.pic-controler>div button:hover,
.pic-controler>div button.active{
    background-color: #a1a1a1;
    box-shadow:0px 0px 29px -5px #454545;   
}

/* end-settings */
/* start-nav */
.nav {
    box-shadow: 0px -20px 30px #bebebe;
    z-index: 10;
    position: relative;
    background-color: white;
    padding: 10px 0;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.nav .logo {
    display: flex;
    align-items: center;
}
.nav i {
    font-size: 20px;
    margin-right: 5px;
}

.nav span {
    font-size: 20px;
}
.nav ul {
    display: flex;
    transform-origin: top;
}

.nav li a{
    cursor: pointer;
    color: var(--sec-color);
    display: block;
    width: 100%;
    height: 100%;
}

.nav i {
    color: var(--sec-color);
}

.nav span,
.nav .active,
.nav li a:hover {
    color: var(--main-color);
}

.nav div a.btn{
    background-color: var(--main-color);
    font-size: 14px;
}

.nav a.btn:hover {
    background-color: var(--main-color-hov);
}
.nav .container>div:last-child {
    display:flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:766px) {
    .nav{
        padding: 10px 0;
    }
    
    .nav ul{
        flex-direction: column;
        text-align: center;
        position: absolute;
        background: white;
        width: 100%;
        left: 0;
        top: 40px;
        padding: 10px;
    }
    .nav ul li{
        margin:5px 0;
    }
    .nav div a.btn{
        padding: 5px;
    }
    
    .draged{
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
}
}
@media (min-width:767px) {
    .nav li a {
        padding: 5px;
    }
    
    .nav i {
        font-size: 25px;
    }
    
    .nav span {
        font-size: 25px;
    }
    
    .nav .container>div:last-child i {
        display: none;
    }
}

@media (min-width:992px) {
    .nav {
        padding: 0;
    }
    
    .nav li a {
        padding: 10px;
    }
    .nav i {
        font-size: 35px;
    }
    
    .nav span {
        font-size: 40px;
    }
}
/* end-nav */

/* start-landing */
.landing {
    background-color: var(--main-color);
    color: white;
    padding: 50px 0;
    min-height: calc(100vh - 46px);
}

.landing .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.landing h4 {
    font-size: 25px;
    margin: 30px 0;
}

.landing h1 {
    font-size: 50px;
}

.landing h1 ,
.landing h4 {
    font-family: var(--main-font);
    font-weight: 600;
}

.landing p {
    line-height: 1.6;
    margin-bottom: 35px;
}
.landing .btn {
    background-color: var(--sec-color);
    box-shadow: 2px 2px 25px #454545;   
}
.landing .btn:hover {
    background-color: var(--sec-color-hov);
}

.landing-text {
    text-shadow: 0px 0px 30px #454545;
    flex-basis: 50%;
}

.landing .shape {
    width: 250px;
    margin-top: 20px;
    height: 250px;
    border-radius: 50%;
    border: 15px solid var(--sec-color);
    background-image: url("../images/landing1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 25px #454545;
}

@media (min-width:992px) {
    .landing{
        height: calc(100vh - 46px);
    }
    
    .landing .container{
        flex-direction: row;
        gap: 30px;
    }
    
    .landing h1 {
        font-size: 60px;
    }
    
    .landing .shape {
        flex-basis: 50%;
        height: 400px;
        margin-top: 0;
    }
}

/* end-landing */
/* start-about */
.project{
    padding: 50px 0;
}

.project .grid-3 .pro-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--card-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.175);
    position: relative;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    z-index: -1;
}

.project .grid-3 .pro-card:nth-child(1) {
    transform:  rotate(10deg) translate(-100px, -50px);
    -webkit-transform:  rotate(10deg) translate(-100px, -50px);
    -moz-transform:  rotate(10deg) translate(-100px, -50px);
    -ms-transform:  rotate(10deg) translate(-100px, -50px);
    -o-transform:  rotate(10deg) translate(-100px, -50px);
}
.project .grid-3 .pro-card:nth-child(2),
.project .grid-3 .pro-card:nth-child(5) {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.project .grid-3 .pro-card:nth-child(3) {
    transform: rotate(-10deg) translate(100px, -50px);
    -webkit-transform: rotate(-10deg) translate(100px, -50px);
    -moz-transform: rotate(-10deg) translate(100px, -50px);
    -ms-transform: rotate(-10deg) translate(100px, -50px);
    -o-transform: rotate(-10deg) translate(100px, -50px);
}
.project .grid-3 .pro-card:nth-child(4) {
    transform:rotate(-10deg) translate(-100px, -50px);
    -webkit-transform:rotate(-10deg) translate(-100px, -50px);
    -moz-transform:rotate(-10deg) translate(-100px, -50px);
    -ms-transform:rotate(-10deg) translate(-100px, -50px);
    -o-transform:rotate(-10deg) translate(-100px, -50px);
}

.project .grid-3 .pro-card:nth-child(6) {
    transform:rotate(10deg) translate(100px, -50px);
    -webkit-transform:rotate(10deg) translate(100px, -50px);
    -moz-transform:rotate(10deg) translate(100px, -50px);
    -ms-transform:rotate(10deg) translate(100px, -50px);
    -o-transform:rotate(10deg) translate(100px, -50px);
}

@media (max-width:992px) {
    .project .grid-3 .pro-card:nth-child(n){
        transform:  rotate(10deg) translate(-100px, -50px);
        -webkit-transform:  rotate(10deg) translate(-100px, -50px);
        -moz-transform:  rotate(10deg) translate(-100px, -50px);
        -ms-transform:  rotate(10deg) translate(-100px, -50px);
        -o-transform:  rotate(10deg) translate(-100px, -50px);
    }
    .project .grid-3 .pro-card:nth-child(2n){
        transform: rotate(-10deg) translate(100px, -50px);
        -webkit-transform: rotate(-10deg) translate(100px, -50px);
        -moz-transform: rotate(-10deg) translate(100px, -50px);
        -ms-transform: rotate(-10deg) translate(100px, -50px);
        -o-transform: rotate(-10deg) translate(100px, -50px);
    }
}
@media (max-width:767px) {
    .project .grid-3 .pro-card:nth-child(n){
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
}
}

.reached {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    opacity: 1 !important;
}

.project .grid-3 .pro-card i {
    color: var(--main-color);
    font-size: 30px;
    margin-right: 20px;
}
.project .grid-3 .pro-card h4 {
    color: var(--sec-color);
    font-family: var(--main-font);
    font-size: 30px;
    margin-bottom: 10px;
}

.about-text {
    padding-top: 50px ;
    padding-bottom: 50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.about-text div:nth-child(1) {
    flex: 45%;
}

.about-text div:nth-child(1) img{
    height: 400px;
    width: 100%;
    min-width: 320px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about-text h1 {
    font-family: var(--main-font);
    color: var(--sec-color);
}

.about-text div:nth-child(2) div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
} 

.about-text div:nth-child(2) div img {
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} 

@media (max-width:991px) {
    .about-text {
        flex-direction: column;
    }
}

@media (max-width:767px){
    .about-text div:nth-child(2) div {
        flex-direction: column;
    }
    .about-text div:nth-child(2) div img {
        margin: 0 0 15px;
        width: 300px;
    }
    .about-text div:nth-child(2) div ul {
        width: 100%;
    }
}

/* end-about */
/* srart-classes */
.classes{
    padding: 50px 0;
}
.classes .grid-3 {
    margin-bottom: 80px;
}
.classes .card {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    background-color: var(--card-color);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.175);
}
.classes .card img{
    width: 100%;
}
.classes .card .card-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.classes .headd {
    padding: 20px 20px 0;
}
.classes .card-text h4 {
    color: var(--sec-color);
    font-size: 25px;
    font-family: var(--main-font);
}
.classes .card-text p {
    color: var(--p-color);
    padding: 20px 0;
}
.classes .table {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    
}

.classes .table>div {
    display: flex;
    justify-content: center;
    margin: auto;
}

.classes .table>div:not(:nth-last-child(1)){
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.classes .table>div div {
    width: 50%;
    padding: 10px;
}

.classes .table>div div:nth-child(2){
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    text-align: left;
}

.classes .table>div div:nth-child(1){
    text-align: right;
    font-weight: bold;
}

.classes a {
    margin-bottom: 20px;
}

.classes .book {
    display: flex;
}

.classes .book h1 {
    font-family: var(--main-font);
    font-size: 40px;
}
.classes .book-text h1 {
    color: var(--sec-color);
}

.classes .special-ul{
    margin-bottom: 20px;
}

.classes .book form {
    flex-basis: 850px;
    margin-left: 50px;
    background-color: var(--main-color);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width:992px) {
    .classes .book {
        flex-direction: column;
    }
    
    .classes .book form {
        flex-basis: auto;
        margin-left: 0;
    }
}

.classes .book form h1 {
    background-color: var(--sec-color);
    margin: 0;
    padding: 25px 0;
    color: white;
    width: 100%;
}
.classes .book form input ,
.classes .book form select{
    display: block;
    outline: none;
    border: none;
    width: calc(100% - 40px);
    padding: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.classes .book form select {
    cursor: pointer;
}

.classes .book form input:last-child {
    background-color: var(--sec-color);
    width: calc(100% - 40px);
    margin-bottom: 20px;
    cursor: pointer;
}
.classes .book form input:last-child:hover{
    background-color: var(--sec-color-hov);
}

@media (max-width:992px) {
    .classes .book form input:not(:last-child) ,
    .classes .book form select {
        margin: 20px;
    }
}

/* end-classes */
/* start-teachers */
.teachers {
    padding: 50px 0;
}

.teachers .grid-4 div div {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.175);
}

.teachers .grid-4 img {
    width: 100%;
}

.teachers .grid-4 div {
    text-align: center;
}

.teachers .grid-4 div h4 {
    color: var(--sec-color);
    font-family: var(--main-font);
    font-size: 30px;
    margin-bottom: 20px;
}

.teachers .grid-4 div p {
    color: var(--p-color);
}

.teachers .grid-4 .pic {
    position: relative;
}

.teachers .grid-4 .pic .layout-1 {
    opacity: 0;
}
.teachers .grid-4 .pic:hover .layout-1 {
    opacity: 1;
}

.teachers .grid-4 .pic>div:nth-child(1) {
    position: absolute;
}

.teachers .grid-4 .pic div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.teachers .grid-4 .layout {
    position: absolute;
    background-color: var(--main-color);
    opacity: .6;
    top: 0;
    right: 0;
}


.teachers .grid-4 .pic div a {
    font-size: 20px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    color: black;
}

.teachers .grid-4 .pic div a:hover {
    color: white;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

/* end-teachers */